<table width="610" align="center" cellpadding="0">
    <tr>
        <td>
            <table cellpadding="15">
                <tr>
                    <td><img src="https://icehrm.s3.amazonaws.com/images/logo.png" /></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="6" bgcolor="#405A6A"></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>
            <font face="Arial, sans-serif" size="2" color="#4a4a4a">
                #_emailBody_#
            </font>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="15">
                <tr>
                    <td><font face="Arial, sans-serif" size="1" color="#4a4a4a">Please visit ICE HRM Application at <a href="#_url_#"><strong><font color="405A6A">#_url_#</font></strong></a>
                        <br/>For support, please visit <a href="https://groups.google.com/forum/#!forum/ice-hrm-support"><strong><font color="7d868c">Ice Hrm Support Forum</font></strong></a>.
                        
                        <hr/>
                        You are receiving this email because you are added to IceHrm Instance, installed on <a href="#_url_#"><strong><font color="405A6A">#_url_#</font></strong></a>.
                        If you are not the intended recipient please inform instance admin #_adminEmail_#. Also if you think this is a spam mail you many reply and inform icehrm@gamonoid.com
                        </font></td>
                </tr>
            </table>
        </td>
    </tr>